doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/img/apple-icon.png')
    link(rel='shortcut icon', sizes='96x96', href='/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title iCam-plusðŸ’¡
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    link(href='bootstrap3/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/css/gsdk.css', rel='stylesheet')
    link(href='assets/css/demo.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap' rel='stylesheet')
    // Fonts and icons
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(href='assets/css/pe-icon-7-stroke.css', rel='stylesheet')
    // font-family : 'Gaegu', cursive; ì–´ë”˜ê°€ì— ì ìš© ì˜ˆì •.
    style.
      a:hover{
        background-color:rgb(135, 180, 23);
        transition: background-color 0.1s;
      }
      li{
        font-size:20px;
      }
      pre.prettyprint {
      background-color: #eee;
      border: 0px;
      margin-bottom: 0;
      margin-top: 20px;
      padding: 20px;
      text-align: left;
      }
      .atv,
      .str {
      color: #05AE0E;
      }
      .tag,
      .pln,
      .kwd {
      color: #3472F7;
      }
      .atn {
      color: #2C93FF;
      }
      .pln {
      color: #333;
      }
      .com {
      color: #999;
      }
      .space-top {
      margin-top: 50px;
      }
      .btn-primary .caret {
      border-top-color: #3472F7;
      color: #3472F7;
      }
      .area-line {
      border: 1px solid #999;
      border-left: 0;
      border-right: 0;
      color: #666;
      display: block;
      margin-top: 20px;
      padding: 8px 0;
      text-align: center;
      }
      .area-line a {
      color: #666;
      }
      .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
      }
      .table-shopping .td-name {
      min-width: 130px;
      }
  body
    nav.navbar.navbar-default.navbar-transparent.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button#menu-toggle.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            span.icon-bar.bar1
            span.icon-bar.bar2
            span.icon-bar.bar3
          a(href='https://www.skku.edu')
            .logo-container
              .logo
                img(src='assets/img/skku.png', alt='SKKU Logo')
              .brand
                | Sungkyunkwan University
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse(data-nav-image='assets/img/thumb.jpg')
          ul.nav.navbar-nav.navbar-right
            li
              a#issueButton.btn.btn-simple.btn-neutral(href='/login')
                | ë°ëª¨ ì‹œì—° ë°”ë¡œê°€ê¸°
        // /.navbar-collapse
        // /.container-fluid
    .wrapper
      .parallax
        .parallax-image
          img(src='assets/img/header.jpg')
        .motto
          div(style="color:green; font-family:'Gaegu', cursive;") iCamplus
          h4(style='color: black;') ì•„ì´ìº í¼ìŠ¤ + Q&AðŸ’¡
          h6(style='color: black;') 2020 ì½”ë”¥ by ë¸Œì‹¤ê³¨í”Œë ˆì´ì–´
        h3.text-white Components Description
      .main
        .section
          .container-fluid
            .row
              .col-md-2
                .fixed-section
                  ul
                    li
                      a(href='#intro') í”„ë¡œì íŠ¸ ë°°ê²½
                      br
                    li
                      a(href='#problem') ë¬¸ì œì  ë¶„ì„
                      br
                    li
                      a(href='#improvement') ê°œì„  ë°©í–¥
                      br
                    li
                      a(href='#functions') ê¸°ëŠ¥ ì„¤ëª…
                      br
                    li
                      a(href='#prototype') ë°ëª¨ ì‹œì—°
                      br
                    li
                      a(href='#effect') ê¸°ëŒ€ íš¨ê³¼
                      br
                    li
                      a(href='#tech') ê¸°ìˆ  êµ¬ì¡°ë„
                      br
                    li
                      a(href='#credits') ê°œë°œìž
                      br
              .col-md-6.col-md-offset-1
                .tim-container(style='min-height: 2000px;')
                  // í”„ë¡œì íŠ¸ ë°°ê²½ ì‹œìž‘
                  #intro.tim-row.tim-row-first
                    h2 í”„ë¡œì íŠ¸ ë°°ê²½
                    legend
                    .row
                      .col-md-5
                        .img-container
                          img.img-rounded(src='/daemun/coronagray.png')
                        .space-50
                      .col-md-6.col-md-offset-1
                        h4.text-center
                          strong í¬ìŠ¤íŠ¸ ì½”ë¡œë‚˜
                          hr
                        p ì½”ë¡œë‚˜ 19, ìš°ë¦¬ì˜ ì¼ìƒì„ ì •ë§ ë§Žì´ ë°”ê¿”ë†“ì€ ë°”ì´ëŸ¬ìŠ¤ìž…ë‹ˆë‹¤. ì½”ë¡œë‚˜ ì‚¬íƒœëŠ” ì‰½ê²Œ ëë‚  ê²ƒ ê°™ì§€ ì•Šê³ , ê·¸ì— ë”°ë¼ ìš°ë¦¬ëŠ” í¬ìŠ¤íŠ¸ ì½”ë¡œë‚˜ ì‹œëŒ€ë¥¼ ì‚´ì•„ê°ˆ ì¤€ë¹„ë¥¼ í•´ì•¼ í•©ë‹ˆë‹¤.
                    br
                    br
                    .row
                      .col-md-5
                        .space-50
                        .img-container
                          img.img-rounded(src='https://www.utsc.utoronto.ca/weboption/sites/utsc.utoronto.ca.weboption/files/images/photo.png')
                        
                      .col-md-6.col-md-offset-1
                        h4.text-center
                          strong 100% ì˜¨ë¼ì¸ ê°•ì˜
                          hr
                        p ì½”ë¡œë‚˜ 19ë¡œ ì¸í•´, ìš°ë¦¬ í•™êµë¥¼ í¬í•¨í•œ ëª¨ë“  ëŒ€í•™ì€ ì˜¨ë¼ì¸ ê°•ì˜ë¡œ ì§€ë‚œ í•™ê¸°ë¥¼ ì§„í–‰í–ˆê³ , ìš°ë ¤ê°€ ë§Žì•˜ì§€ë§Œ ë¬´ì‚¬ížˆ ë§ˆë¬´ë¦¬í–ˆìŠµë‹ˆë‹¤. ëŒ€ë©´ê°•ì˜ì™€ ë‹¬ë¦¬, í•™ìƒë“¤ì€ ì§€ë‚œ 1í•™ê¸°ë¥¼ ì˜¨ë¼ì¸ì„ í†µí•´ êµìˆ˜ìžì˜ ê°•ì˜ë¥¼ ë“£ê³  ì†Œí†µí•´ì•¼ í–ˆìŠµë‹ˆë‹¤.
                    br
                    br
                    .row.row-eq-height
                      .col-md-5
                        .space-110
                        .img-container
                          img.img-rounded(src='https://miro.medium.com/max/414/0*pRbuSYFKIBUSQs31')
                        
                      .col-md-6.col-md-offset-1
                        h4.text-center
                          strong ì˜¨ë¼ì¸ ê°•ì˜ì˜ ì–´ë ¤ì›€ - ì§ˆì˜ì‘ë‹µ
                          hr
                        p ì•„ë¬´ëž˜ë„ ëª¨ë“  ëŒ€ë©´ê°•ì˜ê°€ ì˜¨ë¼ì¸ìœ¼ë¡œ ê¸‰ìž‘ìŠ¤ë ˆ ì „í™˜ë˜ë‹¤ ë³´ë‹ˆ, ì—¬ëŸ¬ ë¬¸ì œì ë“¤ì´ ìƒê²¨ë‚¬ìŠµë‹ˆë‹¤. ê·¸ ì¤‘ ëŒ€í‘œì ì¸ ë¬¸ì œëŠ” ì§ˆì˜ì‘ë‹µì´ì—ˆìŠµë‹ˆë‹¤. ì˜¤í”„ë¼ì¸ ê°•ì˜ì—ì„  êµìˆ˜ìž-í•™ìŠµìžê°€ ì„œë¡œ ë§ˆì£¼í•˜ë‹¤ ë³´ë‹ˆ ì§ˆë¬¸ì„ ë°”ë¡œë°”ë¡œ í•´ê²°í•  ìˆ˜ ìžˆì—ˆì§€ë§Œ, ì˜¨ë¼ì¸ ê°•ì˜ì—ì„  ì¦‰ê°ì ì¸ Q&Aê°€ ì–´ë ¤ì› ìŠµë‹ˆë‹¤.
                    br
                    br
                    br
                    br
                    .row
                      .col-md-5
                        .img-container
                          
                          img.img-rounded(src='https://www.webex.com/content/dam/wbx/global/images/branding/meetings@1x.png')
                          .space-50
                        
                      .col-md-6.col-md-offset-1
                        h4.text-center
                          strong í•™êµì˜ ë°œë¹ ë¥¸ ëŒ€ì²˜ - WebEx
                          hr
                        p ì„±ê· ê´€ëŒ€í•™êµ ì¸¡ì—ì„œë„ ì´ëŸ¬í•œ ì–´ë ¤ì›€ì„ ì¸ì§€í•˜ê³ , ë‹¤ë¥¸ ëŒ€í•™ë“¤ë³´ë‹¤ ë¨¼ì € WebEx ì‹¤ì‹œê°„ í™”ìƒê°•ì˜ ì‹œìŠ¤í…œì„ ë„ìž…í•´ ì˜¨ë¼ì¸ ê°•ì˜ì˜ ì§ˆì˜ì‘ë‹µ ë¬¸ì œì ì„ í•´ê²°í•˜ê³ ìž í–ˆìŠµë‹ˆë‹¤. ì‹¤ì œë¡œ ë§Žì€ êµìˆ˜ë‹˜ë“¤ê»˜ì„œ ê°•ì˜ í˜¹ì€ Q&A ì„¸ì…˜ì„ WebExë¡œ ì§„í–‰í•´, í•´ë‹¹ í•œê³„ì ì„ ì–´ëŠ ì •ë„ ê·¹ë³µí•  ìˆ˜ ìžˆì—ˆìŠµë‹ˆë‹¤.
                    .row
                      .col-md-5
                        .space-50
                        .img-container
                          img.img-rounded(src='https://iotcdn.oss-ap-southeast-1.aliyuncs.com/improve.jpg')
                        
                      .col-md-6.col-md-offset-1
                        h4.text-center
                          strong ì¡°ê¸ˆ ë” ê°œì„ í•  ë°©í–¥ì€?
                          hr
                        p ê·¸ë ‡ê²Œ í•œ í•™ê¸°ë¥¼ ë³´ë‚¸ ì§€ê¸ˆ, ì´ëŸ¬í•œ ì˜¨ë¼ì¸ ê°•ì˜ë¥¼ ì¡°ê¸ˆ ë” ê°œì„ í•  ë°©í–¥ì„ ìƒê°í•´ ë³´ì•˜ìŠµë‹ˆë‹¤. ëª¨ë“  êµìˆ˜ë‹˜ë“¤ì´ WebExë¥¼ ì‚¬ìš©í•˜ì§„ ì•Šìœ¼ì…”ì„œ, ì–´ë–»ê²Œ í•˜ë©´ ë³´ë‹¤ ë§Žì€ í•™ìƒë“¤ì´ í•™êµ ì‹œìŠ¤í…œìœ¼ë¡œë„ ëŒ€ë©´ê°•ì˜ì˜ ìž¥ì ì„ ëˆ„ë¦¬ë©° ì˜¨ë¼ì¸ ê°•ì˜ë¥¼ ìˆ˜ê°•í•  ìˆ˜ ìžˆì„ì§€ ìƒê°í•´ë³´ì•˜ìŠµë‹ˆë‹¤.
                  // í”„ë¡œì íŠ¸ ë°°ê²½ ë
                  br
                  br
                  br
                  // ë¬¸ì œì ë¶„ì„ ì‹œìž‘
                  #problem.tim-row
                    h2 ë¬¸ì œì  ë¶„ì„
                    legend
                    br
                    h3 í˜„ìž¬ Q&A í•´ê²°ë²•
                    br
                    .card.card-product
                      .image
                        img(src='/daemun/qa.png', alt='')
                    br
                    br

                    h3 ë‹¹ì‚¬ìžë“¤ì˜ ë¶ˆíŽ¸í•¨
                    br
                    .card.card-product
                      .image
                        img(src='/daemun/ipjang.png')
                    br
                    br

                    h3 í•´ê²°ì±…
                    br
                    .card.card-product
                      .image
                        img(src='/daemun/q.png')
                  // ë¬¸ì œì ë¶„ì„ ë
                  br
                  br
                  br
                  // ê°œì„ ë°©í–¥ ì‹œìž‘
                  #improvement.tim-row
                    h2 ê°œì„  ë°©í–¥
                    legend
                    .card.card-product
                      .image
                        .row
                          .col-md-7
                            .image.img-container
                              img.img-rounded(src='/daemun/originalicampus.png')
                          .col-md-1
                            .image.img-container
                              .space
                              img.img-rounded(src='https://cdn.pixabay.com/photo/2014/04/02/10/55/plus-304947_960_720.png')
                          .col-md-4
                            .image.img-container
                              img.img-rounded(src='/daemun/qna.png')
                      .content
                        h4 ì•„ì´ìº í¼ìŠ¤ í”Œë ˆì´ì–´ ë‚´ë¶€ì— Q&Aë¥¼ í•  ìˆ˜ ìžˆëŠ” ì¹¸ì„ ë§Œë“ ë‹¤ë©´?
                        ul
                          li í•™ìƒë“¤ì€ ê°•ì˜ë¥¼ ë“£ëŠ” ì¤‘ê°„ì¤‘ê°„ ì§ˆë¬¸ì„ ë‚¨ê¸¸ ìˆ˜ ìžˆìŒ.
                          li êµìˆ˜ìžëŠ” ê°™ì€ ê°•ì˜ì˜ ì§ˆë¬¸ë“¤ì´ í•œë²ˆì— ë³´ì—¬ì§€ë¯€ë¡œ ë‹µë³€ì´ ìˆ˜ì›”í•¨.
                          li í•™êµëŠ” êµìœ¡ì´ ìž˜ ì´ë¤„ì§€ê³  ìžˆëŠ”ì§€ íŒŒì•…í•˜ê¸° ì‰¬ì›€.
                    br
                    br
                    .card.card-product
                      .image
                        img.img-rounded(src='/daemun/icamplus.png')
                      .content
                        h4
                          | ì €í¬ íŒ€ í”„ë¡œì íŠ¸ &nbsp;&nbsp;
                          strong(style='font-size:40px; color:darkgreen') iCam-plus
                          | &nbsp;&nbsp;ëŠ” ì´ëŸ¬í•œ ê°œì„ ì ì„ ë‹´ì•„ ë§Œë“  ê°•ì˜ í”Œë ˆì´ì–´ìž…ë‹ˆë‹¤.
                  // ê°œì„ ë°©í–¥ ë
                  br
                  br
                  br
                  // ê¸°ëŠ¥ì„¤ëª… ì‹œìž‘
                  #functions.tim-row
                    h2 ê¸°ëŠ¥ ì„¤ëª…
                    legend
                    p ë²„íŠ¼ì„ ëˆŒëŸ¬ ê° ê¸°ëŠ¥ë“¤ì„ í™•ì¸í•´ë³´ì„¸ìš”.
                    button.btn.btn-info.btn-fill#b1 1) ê¸°ë³¸ ë„ìž…ë¶€ ê¸°ëŠ¥
                    button.btn.btn-info#b2 2) ì§ˆë¬¸ ë¦¬ìŠ¤íŠ¸ ê¸°ëŠ¥
                    button.btn.btn-info#b3 3) í™”ìƒì§ˆë¬¸ ê¸°ëŠ¥
                    br
                    #c1(style='display:block;')
                      legend
                      br
                      h3
                        strong 1) ê¸°ë³¸ ë„ìž…ë¶€ ê¸°ëŠ¥
                      br
                      .row
                        .col-md-8
                          .img-container
                            img.img-rounded(src='/daemun/f0.png')
                          .space-50
                        .col-md-4
                          h4.text-center
                            strong ë¡œê·¸ì¸ íŽ˜ì´ì§€
                            hr
                          p ì²˜ìŒ ë°ëª¨ë¡œ ë“¤ì–´ê°€ë©´ ë³´ì´ëŠ” ë¡œê·¸ì¸ íŽ˜ì´ì§€ìž…ë‹ˆë‹¤. ë³¸ì¸ì˜ ì•„ì´ë””ì™€ ë¹„ë°€ë²ˆí˜¸ë¥¼ ìž…ë ¥í•˜ë©´ ë¡œê·¸ì¸ë˜ëŠ” êµ¬ì¡°ì´ì§€ë§Œ, ì‹œì—°ì„ ìœ„í•´ IDì™€ PWëŠ” test / test123ìœ¼ë¡œ ì„¸íŒ…í•´ë†“ì•˜ìŠµë‹ˆë‹¤.
                      br
                      br

                      .row
                        .col-md-8
                          .img-container
                            img.img-rounded(src='/daemun/f1-1.png')
                          .space-50
                        .col-md-4
                          h4.text-center
                            strong í”Œë ˆì´ì–´ ê¸°ë³¸ê¸°ëŠ¥
                            hr
                          p ë¡œê·¸ì¸ì— ì„±ê³µí•˜ë©´ ë³´ì—¬ì§€ëŠ” ê°•ì˜ í”Œë ˆì´ì–´ìž…ë‹ˆë‹¤. ì§ˆë¬¸ì°½ ì—¬ë‹«ê¸° ë²„íŠ¼ìœ¼ë¡œ ì§ˆë¬¸íƒ­ì„ ì—´ê±°ë‚˜ ë‹«ì„ ìˆ˜ ìžˆê³ , ì§ˆë¬¸íƒ­ ìƒë‹¨ì„ ì´ìš©í•´ ì£¼ì°¨ë³„ ê°•ì˜ë¥¼ ì „í™˜í•  ìˆ˜ ìžˆìŠµë‹ˆë‹¤.
                      br
                      br

                      .row
                        .col-md-8
                          .img-container
                            img.img-rounded(src='/daemun/f1-2.png') 
                          .space-50
                        .col-md-4
                          h4.text-center
                            strong ì§ˆë¬¸ íƒ­ ê¸°ëŠ¥
                            hr
                          p ì˜¤ë¥¸ìª½ íƒ­ì—ì„  ì¼ë°˜ì§ˆë¬¸ê³¼ í™”ìƒì§ˆë¬¸ì„ ì „í™˜í•  ìˆ˜ ìžˆê³ , í•´ë‹¹ ë©”ë‰´ì— ë”°ë¼ ì•„ëž˜ìª½ ë²„íŠ¼ìœ¼ë¡œëŠ” ì§ˆë¬¸ì„ ì˜¬ë¦´ ìˆ˜ ìžˆëŠ” ë²„íŠ¼ì´ ë³´ì—¬ì§‘ë‹ˆë‹¤.
                      br
                      br

                      .row
                        .col-md-8
                          .img-container
                            img.img-rounded(src='/daemun/bye.png') 
                          .space-50
                        .col-md-4
                          h4.text-center
                            strong ì¢…ë£Œ ê¸°ëŠ¥
                            hr
                          p í”Œë ˆì´ì–´ë¥¼ ì¢…ë£Œí•˜ê³  ì‹¶ì„ ë•Œ ì™¼ìª½ ìœ„ ì„±ê· ê´€ëŒ€í•™êµ ë¡œê³ ë¥¼ ëˆŒëŸ¬, í˜„ìž¬ ì´ íŽ˜ì´ì§€ë¡œ ëŒì•„ì˜¬ ìˆ˜ ìžˆìŠµë‹ˆë‹¤.
                      br
                      br
                    
                    #c2(style='display:none;')
                      legend
                      br
                      h3
                        strong 2) ì§ˆë¬¸ ë¦¬ìŠ¤íŠ¸ ê¸°ëŠ¥
                      br
                      .row
                        .col-md-8
                          .space-50
                          .img-container
                            img.img-rounded(src='/daemun/f2.png')
                      
                        .col-md-4
                          h4.text-center
                            strong ì§ˆë¬¸ ìž‘ì„±
                            hr
                          p ë§Œì•½ ê¶ê¸ˆí•œ ë‚´ìš©ì´ ìžˆëŠ”ë° ê´€ë ¨ ì§ˆë¬¸ì´ ì˜¬ë¼ì™€ìžˆì§€ ì•Šë‹¤ë©´, ì§ˆë¬¸ìž‘ì„± ë²„íŠ¼ì„ ëˆŒëŸ¬ ì§ˆë¬¸ì„ ì—…ë¡œë“œí•  ìˆ˜ ìžˆìŠµë‹ˆë‹¤. ì´ ë•Œ ì‹œê°„ì •ë³´ëŠ” í˜„ìž¬ ì‹œì²­í•˜ê³  ìžˆëŠ” ê°•ì˜ ì‹œê°„ëŒ€ì— ë”°ë¼ ìžë™ìœ¼ë¡œ ìž…ë ¥ë©ë‹ˆë‹¤.
                      br
                      br
                      br
                      br
                      .row
                        .col-md-8
                          .img-container
                            img.img-rounded(src='/daemun/f3.png')
                          .space-50
                        .col-md-4
                          h4.text-center
                            strong ì§ˆë¬¸ ë“±ë¡
                            hr
                          p ì§ˆë¬¸ ìž‘ì„±ì„ ì™„ë£Œí–ˆë‹¤ë©´, ì§ˆë¬¸ ë¦¬ìŠ¤íŠ¸ì— ë“±ë¡í•œ ì§ˆë¬¸ì´ ë‚˜íƒ€ë‚˜ê²Œ ë©ë‹ˆë‹¤. ì´ ì§ˆë¬¸ì—” êµìˆ˜ìžë‚˜ ë‹¤ë¥¸ í•™ìŠµìžê°€ ìžìœ ë¡­ê²Œ ëŒ“ê¸€ì„ ë‹¬ ìˆ˜ ìžˆìŠµë‹ˆë‹¤.
                      br
                      br

                      .row
                        .col-md-8
                          .img-container
                            img.img-rounded(src='/daemun/f4.png')
                          .space-50
                        .col-md-4
                          h4.text-center
                            strong (êµìˆ˜ìž) ë‹µë³€ ë“±ë¡
                            hr
                          p êµìˆ˜ìžì—ê²Œ ë³´ì´ëŠ” í™”ë©´ë„ ê¸°ë³¸ì ìœ¼ë¡œ ìœ„ì™€ ë™ì¼í•©ë‹ˆë‹¤. í•™ìƒë“¤ì˜ ì§ˆë¬¸ì„ ë³¼ ìˆ˜ ìžˆê³ , ê°ê°ì— ë‹µë³€ì„ ë‹¬ ìˆ˜ ìžˆìŠµë‹ˆë‹¤. íƒ€ìž„ìŠ¤íƒ¬í”„ë¥¼ í´ë¦­í•˜ë©´ ë°”ë¡œ í•´ë‹¹ ê°•ì˜ë¡œ ì´ë™í•˜ê²Œ ë©ë‹ˆë‹¤.
                      br
                      br

                      .row
                        .col-md-8
                          .img-container
                            img.img-rounded(src='/daemun/f5.png')
                          .space-50
                        .col-md-4
                          h4.text-center
                            strong ë‹µë³€ ë“±ë¡ ì™„ë£Œ
                            hr
                          p ë‹µë³€ì´ ë“±ë¡ë˜ë©´, í•´ë‹¹ ì§ˆë¬¸ì— ë‹µë³€ì´ ë‹¬ë¦° ê²ƒì„ ë³¼ ìˆ˜ ìžˆìŠµë‹ˆë‹¤. ì´ëŠ” ë‹¤ë¥¸ í•™ìŠµìžë“¤ë„ ë³¼ ìˆ˜ ìžˆì–´, ì¢€ ë” íš¨ìœ¨ì ì¸ í•™ìŠµì„ ê°€ëŠ¥í•˜ê²Œ í•©ë‹ˆë‹¤.
                      br
                      br

                      .row
                        .col-md-8
                          .img-container
                            img.img-rounded(src='/daemun/f6.png')
                          .space-50
                        .col-md-4
                          h4.text-center
                            strong ë¹„ê³µê°œ ì„¤ì •
                            hr
                          p ë§Œì•½ êµìˆ˜ìžì™€ 1:1ë¡œ ë‚˜ëˆ„ê³  ì‹¶ì€ ì§ˆë¬¸ì´ë¼ë©´, ê³µê°œ ë²„íŠ¼ì„ í´ë¦­í•´ ë¹„ê³µê°œ ì§ˆë¬¸ìœ¼ë¡œ ì „í™˜í•  ìˆ˜ ìžˆìŠµë‹ˆë‹¤. ì´ ê²½ìš° ë‹¤ë¥¸ í•™ìƒë“¤ì—ê²Œ ì—´ëžŒì´ ë˜ì§€ ì•Šê³ , ì˜¤ì§ êµìˆ˜ìžì—ê²Œë§Œ ì—´ëžŒë©ë‹ˆë‹¤.
                      br
                      br

                    #c3(style='display:none;')
                      legend
                      br
                      h3
                        strong 3) í™”ìƒì§ˆë¬¸ ê¸°ëŠ¥
                      br
                      .row
                        .col-md-8
                          .img-container
                            img.img-rounded(src='/daemun/w1.png')
                          .space-50
                        .col-md-4
                          h4.text-center
                            strong (êµìˆ˜ìž) Office Hour ì„¤ì •
                            hr
                          p ì¼ì£¼ì¼ ì¤‘ 1ì‹œê°„ì„ Office Hourë¡œ ì„¤ì •í•  ìˆ˜ ìžˆìŠµë‹ˆë‹¤.
                      br
                      br

                      .row
                        .col-md-8
                          .img-container
                            img.img-rounded(src='/daemun/w2.png')
                          .space-50
                        .col-md-4
                          h4.text-center
                            strong í™”ìƒíšŒì˜ ì‚¬ì „ì§ˆë¬¸ ë“±ë¡
                            hr
                          p í•™ìƒë“¤ì€ êµìˆ˜ìžì˜ í™”ìƒ Office Hourë•Œ ë‚˜ëˆ„ê³  ì‹¶ì€ ì§ˆë¬¸ì„ ì—…ë¡œë“œí•  ìˆ˜ ìžˆìŠµë‹ˆë‹¤.
                      br
                      br

                      .row
                        .col-md-8
                          .img-container
                            img.img-rounded(src='/daemun/w3.png')
                          .space-50
                        .col-md-4
                          h4.text-center
                            strong í™”ìƒì±„íŒ… ì—°ê²°í•˜ê¸°
                            hr
                          p ì•„ëž«ìª½ í™”ìƒì±„íŒ… ì—°ê²°í•˜ê¸° ë²„íŠ¼ì„ ëˆŒëŸ¬, êµìˆ˜ìžì˜ ë¯¸íŒ…ë£¸ìœ¼ë¡œ ì—°ê²°í•  ìˆ˜ ìžˆìŠµë‹ˆë‹¤. Office Hourê°€ ì•„ë‹Œ ê²½ìš°ì—” ì—°ê²°ë˜ì§€ ì•ŠìŠµë‹ˆë‹¤.
                      br
                      br
                    p ë‹¤ë¥¸ ê¸°ëŠ¥ë“¤ë„ í™•ì¸í•´ë³´ì„¸ìš”.
                    button.btn.btn-info.btn-fill#b4 1) ê¸°ë³¸ ë„ìž…ë¶€ ê¸°ëŠ¥
                    button.btn.btn-info#b5 2) ì§ˆë¬¸ ë¦¬ìŠ¤íŠ¸ ê¸°ëŠ¥
                    button.btn.btn-info#b6 3) í™”ìƒì§ˆë¬¸ ê¸°ëŠ¥
                  // ê¸°ëŠ¥ì„¤ëª… ë
                  br
                  br
                  br
                  // ë°ëª¨ì‹œì—° ì‹œìž‘
                  #prototype.tim-row
                    h2  ë°ëª¨ ì‹œì—° 
                    legend
                    button.btn.btn-success.btn-fill(onclick="location.href = '/login' ") iCam-plus ë°ëª¨ ì‹œì—°
                  // ë°ëª¨ì‹œì—° ë
                  br
                  br
                  br
                  // ê¸°ëŒ€ íš¨ê³¼ ì‹œìž‘
                  #effect.tim-row
                    h2 ê¸°ëŒ€íš¨ê³¼
                    legend
                    .card.card-product
                      .image
                        img(src='/daemun/effect.png', alt='')
                  // ê¸°ëŒ€íš¨ê³¼ ë

                  // ê¸°ìˆ  êµ¬ì¡°ë„ ì‹œìž‘
                  #tech.tim-row
                    h2 ê¸°ìˆ  êµ¬ì¡°ë„
                    legend
                    .card.card-product
                      .image
                        img(src='/daemun/tech.png', alt='')
                      .content
                        table.table
                          thead                          
                            tr
                              th(colspan='2').text-center &nbsp;
                            tr
                              td(style='width:20%;')
                                p ì‚¬ìš© ì–¸ì–´
                              td
                                p HTML, CSS, JS
                            tr
                              td
                                p ì„œë²„ í”„ë ˆìž„ì›Œí¬
                              td
                                p Node.js, Express
                            tr
                              td
                                p ë°ì´í„° ì €ìž¥ì†Œ
                              td
                                p MongoDB
                            tr
                              td
                                p í´ë¼ìš°ë“œ
                              td
                                p AWS EC2, MongoDB Atlas
                  // ê¸°ìˆ  êµ¬ì¡°ë„ ë

                  // ê°œë°œìž ì‹œìž‘
                  #credits.tim-row
                    h2 ê°œë°œìž
                    legend
                    .row
                      .col-md-4
                        .card
                          .img
                            img.img-rounded(src='/daemun/credits.png')
                      .col-md-4
                        .card
                          .img-container
                            img.img-rounded(src='/daemun/kjw.jpg')
                            .filter.filter-white
                              h1.text-center
                                | ê°•ì¤€ìš°
                                small.subtitle íŒ€ìž¥
                              hr
                              p ëŒ€ë¬¸íŽ˜ì´ì§€ ë””ìžì¸ & êµ¬í˜„
                              p í”„ë¡œì íŠ¸ ë°°í¬
                        
                      .col-md-4
                        .card
                          .img-container
                            img.img-rounded(src='https://avatars0.githubusercontent.com/u/59307414?s=400&u=17aa102a5fabc27c120755ccec0983cde69fb1fe&v=4')
                            .filter.filter-white
                              h1.text-center
                                | ê¹€í¬ë™
                                small.subtitle ë°±ì—”ë“œ
                              hr
                              p í”Œë ˆì´ì–´ ì„œë²„ ì„¤ê³„ & êµ¬í˜„
                              p DB ì—°ë™
                    br
                    .row
                      .col-md-4
                        .card
                          .img-container
                            img.img-rounded(src='https://avatars3.githubusercontent.com/u/61109660?s=400&u=ec8fe509b882073575edca6f849c4b5f2bb602eb&v=4')
                            .filter.filter-white
                              h1.text-center
                                | ê¹€íƒœí˜„
                                small.subtitle í”„ë¡ íŠ¸ì—”ë“œ
                              hr
                              p í”Œë ˆì´ì–´ ê¸°ëŠ¥ ë””ìžì¸
                              p í”„ë¡ íŠ¸ êµ¬í˜„
                      .col-md-4
                        .card
                          .img-container
                            img.img-rounded(src='/daemun/sjh.jpg')
                            .filter.filter-white
                              h1.text-center
                                | ì†¡ì§€í›ˆ
                                small.subtitle í”„ë¡ íŠ¸ì—”ë“œ
                              hr
                              p í”Œë ˆì´ì–´ ì „ì²´ í‹€ ë””ìžì¸
                              p í”„ë¡ íŠ¸ êµ¬í˜„
                      .col-md-4
                        .card
                          .img-container
                            img.img-rounded(src='https://canvas.skku.edu/images/thumbnails/60812/XmyrYskv4vQSkHhHx5KFFF9fxyUKiz1tQBxBa5vj')
                            .filter.filter-white
                              h1.text-center
                                | í•œì˜¥ì˜
                                small.subtitle ì§€ë„êµìˆ˜
                              hr
                              p í”¼ë“œë°± ì œê³µ
                  // ê°œë°œìž ë

                  // cards row : ì§„ì§œ ì™œê·¸ëŸ°ì§„ ëª¨ë¥´ê² ëŠ”ë° ì–˜ë¥¼ ì—†ì• ë©´ jsê°€ ìž‘ë™ë˜ì§€ ì•ŠëŠ”ë‹¤. display:noneìœ¼ë¡œ í•´ë†“ì•˜ìœ¼ë‚˜ ì—†ì• ì§„ ë§ê²ƒ.
                  #cards-row.tim-row
                    .card.card-background
                      #map.map(style='display:none')
                  // end row
                  // end container

    footer.footer.footer-transparent
      .container
        nav.pull-left
          ul
            li
              a(href='https://www.skku.edu/')
                | SKKU
            li
              a(href='http://cihe.webziggy.co.kr/')
                | ëŒ€í•™í˜ì‹ ê³¼ê³µìœ ì„¼í„°
            li
              a(href='https://github.com/KangJunewoo/iCam-plus')
                | Github Link
        .copyright
          | Â© 2020 ë¸Œì‹¤ê³¨í”Œë ˆì´ì–´, all rights reserved.
    // Modal Core
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') Ã—
            h4#myModalLabel.modal-title Modal title
          .modal-body
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
            | texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A
            | small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
            | paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing
            | has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
            | text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
          .modal-footer
            button.btn.btn-default.btn-simple(type='button', data-dismiss='modal') Close
            button.btn.btn-info.btn-simple(type='button') Save
    // jQuery and Bootstrap core files
    script(src='assets/js/jquery.js', type='text/javascript')
    script(src='assets/js/jquery-ui.custom.min.js', type='text/javascript')
    script(src='bootstrap3/js/bootstrap.min.js', type='text/javascript')
    // Plugins
    script(src='assets/js/gsdk-checkbox.js')
    script(src='assets/js/gsdk-morphing.js')
    script(src='assets/js/gsdk-radio.js')
    script(src='assets/js/gsdk-bootstrapswitch.js')
    script(src='assets/js/bootstrap-select.js')
    script(src='assets/js/bootstrap-datepicker.js')
    script(src='assets/js/chartist.min.js')
    script(src='assets/js/jquery.tagsinput.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js')
    // Get Shit Done Kit PRO Core javascript
    script(src='assets/js/get-shit-done.js')
    // Get Shit Done Kit PRO methods used for demo purpose
    script(src='assets/js/demo.js')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
    // ì§ì ‘ ì¶”ê°€í•œ JS
    script(src='/assets/js/smooth_scroll.js')
    script(src='/js/toggleButton.js')
    script.
      var transparent = true;
      var header_height;
      var fixed_section;
      var floating = false;
      $().ready(function () {
      suggestions_distance = $("#suggestions").offset();
      header_height = $('.parallax').outerHeight() + 20;
      pay_height = $('.fixed-section').outerHeight();
      fixed_section = $('.fixed-section');
      initMorphingButtons();
      initDemoChartist();
      initGoogleMaps();
      if ($(document).width() > 768) {
      activateScrollCheck();
      }
      });
      $("#slider-range").slider({
      range: true,
      min: 0,
      max: 500,
      values: [75, 300],
      });
      $("#slider-default").slider({
      value: 70,
      orientation: "horizontal",
      range: "min",
      animate: true
      });
      $('.radio').on('toggle', function () { });
      function activateScrollCheck() {
      $(window).on('scroll', function () {
      checkScrollForPresentationNavbar();
      });
      }
      var checkScrollForPresentationNavbar = debounce(function () {
      if ($(this).scrollTop() > 470) {
      if (transparent) {
      transparent = false;
      $('nav[role="navigation"]').removeClass('navbar-transparent').addClass('navbar-small');
      $('#issueButton').addClass('btn-info').removeClass('btn-neutral');
      }
      } else {
      if (!transparent) {
      transparent = true;
      $('nav[role="navigation"]').addClass('navbar-transparent').removeClass('navbar-small');
      $('#issueButton').addClass('btn-neutral').removeClass('btn-info');
      }
      }
      if ($(this).scrollTop() > header_height) {
      if (!floating) {
      floating = true;
      fixed_section.addClass('float');
      }
      } else {
      if (floating) {
      floating = false;
      fixed_section.removeClass('float');
      }
      }
      }, 4);
    // If you are using TypeKit.com uncomment this code otherwise you can delete it
    //
      <script src="https://use.typekit.net/[your kit code here].js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>
    // If you have retina @2x images on your server which can be sent to iPhone/iPad/MacRetina, please uncomment the next line, otherwise you can delete it
    // <script src="assets/js/retina.min.js"></script>