doctype html
html(lang='ko')
  head
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/skku.css', media='all')
    title Sungkyunkwan University
  body
    #header
      h1#logoKo.header_logo
        img(src='assets/img/login-icamplus.png')
    #login_wrapper
      form(method='POST')
        input#loginFormToken(type='hidden', name='login_form_token', value='4b77910111b37694d4a4b783378dc979405a76be5a1ca21fb7958daad70c5e56')
        .loginForm
          .loginBox
            .inputText
              input#userid(type='text', name='login_user_id', value='test', autocomplete='off', placeholder='ID')
            .inputText
              input#password(type='password', name='login_user_password', value='test123' autocomplete='new-password', placeholder='Password')
          button#btnLoginBtn.loginBtn(type='button' onclick="login();")
            span#btnLogin LOGIN
    .footerBtn
      .btnLink
        ul
          li
            a.banner(style="font-size:x-large;") Sample ID : test / Sample PW : test123
        ul
          li
            a#register.banner(onclick="alert('아직 홈페이지와 연동 되어 있지 않습니다.');") 성균인 가입
          li
            a#findId.banner(onclick="alert('아직 홈페이지와 연동 되어 있지 않습니다.');") ID 찾기
          li
            a#findPassword.banner(onclick="alert('아직 홈페이지와 연동 되어 있지 않습니다.');") 비밀번호 찾기
          li
            a#withdrawal.banner(onclick="alert('아직 홈페이지와 연동 되어 있지 않습니다.');") 회원 탈퇴
    script.
      function login() {
        if (document.getElementById('userid').value === 'test' && document.getElementById('password').value === 'test123')
          location.href='/prototype/1';
        else
          alert('존재하지 않는 계정입니다.');
      }
    // jQuery and Bootstrap core files
    script(src='assets/js/jquery.js', type='text/javascript')
    script(src='assets/js/jquery-ui.custom.min.js', type='text/javascript')
    script(src='bootstrap3/js/bootstrap.min.js', type='text/javascript')