html
  head
    link(href='https://vjs.zencdn.net/7.7.6/video-js.css', rel='stylesheet')
    // 그 담에 내가 정의한 css 불러오고
    link(href='./main.css', rel='stylesheet')
    title Videojs-sample
  body
    .main_container
      .left_container
        #player_header
          p.player_header_title   무슨 강의 > 강의 이름 ~~~~  
          button.extend_tab_button  확장 버튼 
        video#sample-video.video-js(controls='', preload='auto', poster='ddiyong.jpeg', data-setup='{}')
          // src에 내가 넣고싶은 영상 위치 넣고
          source(src='sample.mp4', type='video/mp4')
      .right_container
        #index_bar
          select#class_index_selector
            option(selected='') 현재 : 1강 - OT
            option 2강 - 강의 제목
            option 3강 - 강의 제목
            option 4강 - 강의 제목
          button#goto_IndexButton  >
        #select_Button_bar
          button.index_button 질문하기
        #question_container
          #main_question
            #question_bar
              a.time_stamp(href='') 05:33
              .question_title  질문 내용 여기에1
            #question_bar
              a.time_stamp(href='') 05:33
              .question_title  질문 내용 여기에2
            #question_bar_opened
              .question_header
                a.time_stamp(href='') 09:12
                .question_title 질문 내용 여기에3
              .question_container
                #question_person
                  p
                    br
                    | 질문자 : 강준우
                #question_text
                  p(style='word-break:break-all')
                    br
                    |                 질문 내용~~~ 이해가 안돼요~~~~~
                    |                 질문 내용~~~ 이해가 안돼요~~~~~질문 내용~~~ 이해가 안돼요~~ 이해가 안돼요~~~~~질문 내용~~~ 이해가 안돼요~~~~~질문 내용~~~ 이해가 안돼요~~~~~질문 내용
                #question_professor
                  p
                    br
                    br
                    |  답변자 : 김재현(교수)
                #answer_text
                  p(style='word-break:break-all')
                    br
                    br
                    |                 이건
                    |                 이렇게
                    |                 하세요
                    |                 ~~~~~~~~~~
                    |                 @@@@@@@@@@@@@@@@

                  #comment_container
                      input#comment_container(type='text')
                      button#comment_upload_button  &#xC791;&#xC131;&#xD558;&#xAE30; 
            #question_bar
              a.time_stamp(href='') 12:09
              .question_title  질문 내용 여기에4
          #question_bottom
            button.question_button 질문하기
            button.comment_button 과제 및 평가
    // 기본 js 먼저 불러오고
    script(src='https://vjs.zencdn.net/7.7.6/video.js')
    // 그 담에 내가 정의한 js 불러오면 됨
    script(src='./js/videojs.js')
    script(src='./js/jquery-3.5.1.js')
    script(src='./js/source.js')
