.main{
  float:left;
  width: 1440px;
  height: 1080px;
  object-fit: contain;
  border: solid 1px #707070;
}

.main .navbar{
  width: 1440px;
  height: 64px;
  opacity: 0.7;
  background-color: #99c455;
}

.main .navbar .navbar-text{
  width: 589px;
  height: 43px;
  font-family: JejuGothicOTF;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #f0f0f0;
}

.main .navbar .side-enable-button{
  width: 45px;
  height: 45px;
  object-fit: contain;
}


.side{
  float:left;
}

.side .navbar{
  width: 480px;
  height: 65px;
  border: solid 1px #707070;
  background-color: rgba(153, 196, 85, 0.62);
}

.side .top-menu{
  float:none;
}


.side .top-menu .jilmun{
  float:left;
  width: 160px;
  height: 65px;
  background-color: #0f2b62;
}

.side .top-menu .idk{
  float:left;
  width: 160px;
  height: 65px;
  background-color: rgba(64, 67, 74, 0.75);
}

.side .top-menu .assignment{
  float:left;
  width: 160px;
  height: 65px;
  background-color: rgba(64, 67, 74, 0.75);
}

.side .body-jilmun{

}

.side .body-jilmun .dropdown{
  width: 430px;
  height: 68px;
  border: solid 1px #707070;
  background-color: #ffffff;
}

.side .body-jilmun .question-bubble{
  width: 424px;
  height: 195px;
  background-color: #ffffff;
}

.side .bottom-menu{
  width: 480px;
  height: 36px;
  border: solid 1px #707070;
  background-color: #0f2b62;
}

