<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>iCam-plus💡</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/gsdk.css" rel="stylesheet" />

  <link href="assets/css/demo.css" rel="stylesheet" />
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>


<style>
  pre.prettyprint {
    background-color: #eee;
    border: 0px;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
  }

  .atv,
  .str {
    color: #05AE0E;
  }

  .tag,
  .pln,
  .kwd {
    color: #3472F7;
  }

  .atn {
    color: #2C93FF;
  }

  .pln {
    color: #333;
  }

  .com {
    color: #999;
  }

  .space-top {
    margin-top: 50px;
  }

  .btn-primary .caret {
    border-top-color: #3472F7;
    color: #3472F7;
  }

  .area-line {
    border: 1px solid #999;
    border-left: 0;
    border-right: 0;
    color: #666;
    display: block;
    margin-top: 20px;
    padding: 8px 0;
    text-align: center;
  }

  .area-line a {
    color: #666;
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .table-shopping .td-name {
    min-width: 130px;
  }
</style>

<body>

  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button id="menu-toggle" type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <a href="https://www.skku.edu">
          <div class="logo-container">
            <div class="logo">
              <img src="assets/img/skku.png" alt="SKKU Logo">
            </div>
            <div class="brand">
              Sungkyunkwan University
            </div>
          </div>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" data-nav-image="assets/img/thumb.jpg">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a target="_blank" href="https://icampus.skku.edu" id="issueButton" class="btn btn-simple btn-neutral">기존
              아이캠퍼스 바로가기</a>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="wrapper">
    <div class="parallax">
      <div class="parallax-image">
        <img src="assets/img/header.jpg">
      </div>
      <div class="motto">
        <div style="color:green">iCamplus</div>
        <h4 style="color: black;">아이캠퍼스 + Q&A💡</h4>
        <h6 style="color: black;">2020 코딥 by 브실골플레이어</h6>
      </div>
      <h3 class="text-white">Components Description</h3>
    </div>

    <div class="main">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="fixed-section">
                <ul>
                  <li><a href="#intro">프로젝트 소개</a></li>
                  <li><a href="#originalicampus">기존 아이캠퍼스 분석</a></li>
                  <li><a href="#functions">기능 설명</a></li>
                  <li><a href="#prototype">데모 시연</a></li>
                  <li><a href="#effect">기대효과</a></li>
                  <li><a href="#tech">기술스택</a></li>
                  <li><a href="#credits">브실골플레이어팀</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-1">
              <div class="tim-container" style="min-height: 2000px;">

                <!-- 프로젝트 소개 시작 -->
                <div class="tim-row tim-row-first" id="intro">
                  <h2 class="text-center">프로젝트 소개</h2>
                  <legend></legend>
                  <!-- <img src="assets/img/online_edu.png" alt="online edu" class="rounded"
                    style="width:auto;height:auto;max-width:150px;max-height: 150px;float: right;"> -->
                  <p>
                    최근 코로나19 바이러스 사태로 인해, 우리 학교를 포함한 모든 교육기관은
                    현재 온라인 강의를 진행하고 있습니다.
                    기존의 수업방식과 다르기에 현재의
                    학습 방식이 익숙하지 않을 뿐더러 과제 부여 및 시험 평가 방법, 질의와 답
                    변을 포함한 학습자와 교수자 간의 소통의 어려움 등 많은 불편을 겪고 있습
                    니다.
                  </p>

                  <br><br>
                  <blockquote class="blockquote text-right">
                    <p class="mb-0">이러닝의 장점에도 불구하고 현실에서 이러닝의 실제 만족도 높지 않게 나오 는 주된 이유는 충분한 질문과 토론이 불가능하기 때문이다.</p>
                    <footer class="blockquote-footer">구희진･박영택, <cite title="Source Title">
                        SERVQUAL을 이용한 이러닝 학습자가 만족도 평가에 관한 연구</cite></footer>
                  </blockquote>
                  <br><br>

                  <p>
                    위 연구에서 제시하는 바와 같이 현재 문제점 중 하나는 온라인 강의의 질문
                    방식입니다. 지금의 아이캠퍼스는 동영상으로 수업을 진행하고 수업 도중 질
                    문에 대한 부분은 강의가 모두 끝난 이후 문의게시판 혹은 교수자에게 이메
                    일을 전송하게 됩니다. 또는 수업 중간에 동영상을 정지하고 질문을 작성한
                    다음 다시 수업을 들어야 합니다. 이후 교수자는 학습자들의 질문에 대해 각
                    각의 내용을 확인하고 학습자에게 답변을 전달하고 있습니다.
                    이러한 과정은 오프라인 강의에 비해 교수자와 학습자 모두에게 불필요한 시
                    간을 소비하고 학습 이외의 온라인 강의의 구조적인 문제로 인해 집중을 방
                    해하는 결과를 야기합니다. 추가로 오프라인 강의의 경우, 학습자는 타 학습
                    자의 질문을 통해 본인이 미처 생각하지 못했던 부분을 생각할 수 있습니다.
                  </p>
                  <br>
                  <p>물론 학교에서도 위와 같은 문제 때문에 Webex를 이용하여 이러한 문제를
                    해결하고자 하지만 시간의 제약을 받지 않는 온라인 강의의 장점을 살리지
                    못 하고, 화상 강의를 참여하기 위해 학습자 개개인이 준비해야하는 과정과
                    비용이 증가하는 점에서 단점이 명확히 존재합니다. 또한 강의를 저장하는
                    경우에 단순히 영상을 저장한 것이기에 강의 간에 있었던 교수자와 학습자
                    간의 소통을 텍스트로 기록하지 못 하게 됩니다.
                  </p>
                  <br>
                  <p>저희는 이러한 문제를 해결하기 위해 아이캠퍼스의 스트리밍 플레이어가 단
                    순히 영상을 재생하는 데에서 벗어나, “학습”이라는 관점에 집중해서 기능이
                    적용된다면 교수자와 학습자 모두의 만족도를 보다 향상시킬 수 있을 것으로
                    기대합니다.</p>
                  <br>
                  <p>학습자는 수업에 대한 몰입을 방해받지 않고, 질문과 토론을 할 수 있으며,
                    교수자는 다른 매체를 통한 답변이 아닌 스트리밍 플레이어 속에서 답변을
                    입력하여 이와 같은 일련의 학습과정을 양방향으로 행할 수 있는 사용자 참
                    여형 스트리밍 플레이어를 만들고자 합니다.</p>
                </div>
                <!-- 프로젝트 소개 끝 -->

                <!-- 기존 아이캠퍼스 분석 시작 -->
                <div class="tim-row" id="originalicampus">
                  <h2> 기존 아이캠퍼스 분석 </h2>
                  <legend></legend>
                  <h2 style='color:red'>내가 볼 땐 뭔가 좀 어설픈데.. 좋은 의견 있으면 알려줘</h2>

                  <div class="row">
                    <div class="col-md-7">
                      <div class="img-container">
                        <img src="assets/img/originalicampus/basic.png"
                          class=" img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                      <h4 class="text-center">기존 플레이어
                        <hr>

                        <p>현재 사용되는 아이캠퍼스의 플레이어입니다.</p>
                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-md-7">
                      <div class="img-container">
                        <img src="assets/img/originalicampus/hover_cursor.png"
                          class=" img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                      <h4 class="text-center">커서올린 상태
                        <hr>

                        <p>재생, 일시정지, 배속 등이 지원되는 기본적인 플레이어 모습과 같습니다. 이 상황에서 질문을 해야 한다고 생각해봅시다.</p>
                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-md-7">
                      <div class="img-container">
                        <img src="assets/img/originalicampus/step1.png"
                          class=" img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                      <h4 class="text-center">질문 step 1
                        <hr>

                        <p>문의게시판으로 갑니다</p>
                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-md-7">
                      <div class="img-container">
                        <img src="assets/img/originalicampus/step2.png"
                          class=" img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                      <h4 class="text-center">질문 step 2
                        <hr>

                        <p>해당 내용 질문이 올라와있는지 보고, 없다면 글쓰기 버튼을 클릭합니다.</p>
                    </div>
                  </div>
                  <br>



                  <div class="row">
                    <div class="col-md-7">
                      <div class="img-container">
                        <img src="assets/img/originalicampus/step3.png"
                          class=" img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                      <h4 class="text-center">질문 step 3
                        <hr>

                        <p>질문을 작성합니다.</p>
                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-md-7">
                      <div class="img-container">
                        <img src="assets/img/originalicampus/step4.png"
                          class=" img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                      <h4 class="text-center">질문 step 4
                        <hr>

                        <p>교수자의 댓글이 달릴때까지 기다립니다. 교수자가 질문을 확인하면, 그에 대한 답변을 작성하고 학생이 볼때까지 기다립니다.</p>
                    </div>
                  </div>
                  <br><br><br>

                  <div class="row">
                    <div class="col-md-7">
                      <div class="img-container">
                        <img src="assets/img/originalicampus/stress.png""
                          class=" img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                      <h4 class="text-center">이렇게 복잡할 수가!
                        <hr>

                        <p>이는 너무나 비효율적이라고 판단하여, iCam-plus에서는 이 과정을 획기적으로 줄였습니다.</p>
                    </div>
                  </div>
                  <br>


                </div>
                <!-- 기존 아이캠퍼스 분석 끝 -->

                <!-- 기능설명 시작 -->
                <div class="tim-row" id="functions">

                  <h2>기능 설명 </h2>
                  <legend></legend>
                  <h2 style="color: red;">프론트 완성되는대로 여기에 캡처와 함께 사용법까지 넣을 예정</h2>
                  <h4>1. 동영상 타임스탬프</h4>
                  <p>온라인 강의 수강 중 질문 발생 시 영상에 타임스탬프를 남겨 실시간 질의응답 가능</p>
                  <h4>2. 과제 및 평가</h4>
                  <ul>
                    <li>타임스탬프 생성 시, 질문 작성 공간 생성</li>
                    <li>학습자는 작성 시간, 작성자, 질문 내용의 형식에 맞춰 질문 작성</li>
                    <li>작성한 영상의 타임스탬프를 기준으로 –10초 ~ +10초 범위의 질문들이 영상 우측 상단에 생성</li>
                    <li>학습자 간의 질문 공유로, 상호 토론하는 느낌 제공</li>
                  </ul>
                  <h4>3. 질문 검색 기능</h4>
                  <p>궁금한 부분에 대해 단어 검색 기능 제공, 해당 단어가 포함된 질문이 있을 시 확인 가능</p>
                  <h4>4. 퀴즈 및 토론 부여</h4>
                  <ul>
                    <li>교수자는 학생들의 질문과 피드백을 통해 강의 내용을 보충</li>
                    <li>플레이어 상에 퀴즈와 토론 과제 등을 부여 가능</li>
                    <li>학습자에게 실제로 소통하는 느낌 제공</li>
                  </ul>
                  <h4>5. 질문리스트 확인</h4>
                  <p>교수자는 학생들이 질문한 내용을 정리하여 스크립트 형태로 확인 가능</p>

                </div>
                <!-- 기능설명 끝 -->

                <!-- 데모시연 시작 -->
                <div class="tim-row" id="prototype">
                  <h2> 데모 시연 </h2>
                  <legend></legend>
                  <button class="btn btn-primary" onclick="location.href = '/prototype' ">데모를 보러 갑시다!</button>
                </div>
                <!-- 데모시연 끝 -->

                <!-- 기대 효과 시작 -->
                <div class="tim-row" id="effect">
                  <h2> 기대효과 </h2>
                  <legend></legend>
                  <h4>학습자 측면</h4>
                  <ul>
                    <li>질문의 접근성 & 편의성 향상</li>
                    <li>동료학습 활성화</li>
                    <li>기타 장점 내용들</li>
                  </ul>
                  <h4>교수자 측면</h4>
                  <ul>
                    <li>같은 강의내용에 대한 질문목록의 일목요연한 정리</li>
                    <li>답변의 편의성</li>
                    <li>기타 교수자 장점</li>
                  </ul>
                </div>
                <!-- 기대효과 끝 -->

                <!-- 기술스택 시작 -->
                <div class="tim-row" id="tech">
                  <h2> 기술스택 </h2>
                  <legend></legend>
                  <h2 style='color:red'>일단 로고만 카드에 넣어놨는데, 구현 캡처까지 해서 카드 내부에서 쭉쭉 넘길 수 있게 하면 어떨까 싶음.</h2>
                  <h4>Front-End</h4>
                  <div class="card card-product">
                    <div class="image">
                      <img src="assets/img/htmlcssjs.png" alt="">
                    </div>
                    <br>
                    <legend></legend>
                    <div class="content">
                      <h4 class="content text-center">
                        HTML & CSS & Javascript
                      </h4>

                      <p class="description">
                        설명설명
                      </p>
                    </div>

                  </div>


                  <br>
                  <h4>Back-End</h4>
                  <div class="card card-product">
                    <div class="image">
                      <img src="assets/img/node-express-mongo.png">
                    </div>
                    <br>
                    <legend></legend>
                    <div class="content">
                      <h4 class="content text-center">
                        Nodejs & Express & MongoDB
                      </h4>

                      <p class="description">
                        설명설명
                      </p>
                    </div>
                  </div>
                </div>
                <br>

                <h4>Deploy</h4>
                <div class="card card-product">
                  <div class="image">
                    <img src="assets/img/aws.png" alt="">
                  </div>
                  <br>
                  <legend></legend>
                  <div class="content">
                    <h4 class="content text-center">
                      AWS EC2 & Route 53
                    </h4>

                    <p class="description">
                      설명설명
                    </p>
                  </div>
                </div>
                <br>

                <!-- 기술스택 끝 -->

                <!-- 브실골플레이어팀 시작 -->
                <div class="tim-row" id="credits">
                  <h2> 브실골플레이어팀</h2>
                  <legend></legend>

                  <div class="row">
                    <div class="col-md-5">
                      <div class="img-container">
                        <img src="https://avatars2.githubusercontent.com/u/29622782?s=460&v=4" class="img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                      <h1 class="text-center">강준우
                        <small class="subtitle">팀장</small></h1>
                      <hr>

                      <p>소개소개.</p>

                      <p>한마디한마디.</p>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="img-container">
                        <img
                          src="https://avatars0.githubusercontent.com/u/59307414?s=400&u=17aa102a5fabc27c120755ccec0983cde69fb1fe&v=4"
                          class="img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                      <h1 class="text-center">김희동
                        <small class="subtitle">백엔드</small></h1>
                      <hr>

                      <p>소개소개.</p>

                      <p>한마디한마디.</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="img-container">
                        <img
                          src="https://avatars3.githubusercontent.com/u/61109660?s=400&u=ec8fe509b882073575edca6f849c4b5f2bb602eb&v=4"
                          class="img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                      <h1 class="text-center">김태현
                        <small class="subtitle">프론트엔드</small></h1>
                      <hr>

                      <p>소개소개.</p>

                      <p>한마디한마디.</p>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="img-container">
                        <img src="https://avatars1.githubusercontent.com/u/60260284?s=400&v=4" class="img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <br>
                    <div class="col-md-5 col-md-offset-1">
                      <h1 class="text-center">송지훈
                        <small class="subtitle">프론트엔드</small></h1>
                      <hr>

                      <p>소개소개.</p>

                      <p>한마디한마디.</p>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="img-container">
                        <img
                          src="https://canvas.skku.edu/images/thumbnails/60812/XmyrYskv4vQSkHhHx5KFFF9fxyUKiz1tQBxBa5vj"
                          class="img-rounded">
                      </div>
                      <div class="space-50"></div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                      <h1 class="text-center">한옥영
                        <small class="subtitle">지도교수</small></h1>
                      <hr>

                      <p>소개소개.</p>

                      <p>한마디한마디.</p>
                    </div>
                  </div>

                </div>
                <!-- 브실골플레이어팀 끝 -->


              </div>


              <!-- cards row : 진짜 왜그런진 모르겠는데 얘를 없애면 js가 작동되지 않는다. display:none으로 해놓았으나 없애진 말것.-->
              <div class="tim-row" id="cards-row">
                <div class="card card-background">
                  <div class="map" id="map" style="display:none"></div>
                </div>
              </div>
              <!-- end row -->



            </div>
            <!-- end container -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-transparent">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li>
            <a href="https://www.skku.edu/">
              SKKU
            </a>
          </li>
          <li>
            <a href="http://cihe.webziggy.co.kr/">
              대학혁신과공유센터
            </a>
          </li>
          <li>
            <a href="https://github.com/KangJunewoo/iCam-plus">
              Github Link
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy; 2020 브실골플레이어, all rights reserved.
      </div>
    </div>
  </footer>

  </div>

  <!-- Modal Core -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A
          small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
          paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing
          has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
          text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info btn-simple">Save</button>
        </div>
      </div>
    </div>
  </div>


</body>
<!--  jQuery and Bootstrap core files    -->
<script src="assets/js/jquery.js" type="text/javascript"></script>
<script src="assets/js/jquery-ui.custom.min.js" type="text/javascript"></script>
<script src="bootstrap3/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Plugins -->
<script src="assets/js/gsdk-checkbox.js"></script>
<script src="assets/js/gsdk-morphing.js"></script>
<script src="assets/js/gsdk-radio.js"></script>
<script src="assets/js/gsdk-bootstrapswitch.js"></script>
<script src="assets/js/bootstrap-select.js"></script>
<script src="assets/js/bootstrap-datepicker.js"></script>
<script src="assets/js/chartist.min.js"></script>
<script src="assets/js/jquery.tagsinput.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!--  Get Shit Done Kit PRO Core javascript 	 -->
<script src="assets/js/get-shit-done.js"></script>

<!--  Get Shit Done Kit PRO methods used for demo purpose      -->
<script src="assets/js/demo.js"></script>

<script>
  var transparent = true;
  var header_height;
  var fixed_section;
  var floating = false;

  $().ready(function () {
    suggestions_distance = $("#suggestions").offset();
    header_height = $('.parallax').outerHeight() + 20;
    pay_height = $('.fixed-section').outerHeight();
    fixed_section = $('.fixed-section');

    initMorphingButtons();
    initDemoChartist();
    initGoogleMaps();


    if ($(document).width() > 768) {
      activateScrollCheck();
    }

  });

  $("#slider-range").slider({
    range: true,
    min: 0,
    max: 500,
    values: [75, 300],
  });
  $("#slider-default").slider({
    value: 70,
    orientation: "horizontal",
    range: "min",
    animate: true
  });

  $('.radio').on('toggle', function () { });

  function activateScrollCheck() {
    $(window).on('scroll', function () {
      checkScrollForPresentationNavbar();
    });
  }

  var checkScrollForPresentationNavbar = debounce(function () {
    if ($(this).scrollTop() > 470) {
      if (transparent) {
        transparent = false;
        $('nav[role="navigation"]').removeClass('navbar-transparent').addClass('navbar-small');
        $('#issueButton').addClass('btn-info').removeClass('btn-neutral');

      }
    } else {
      if (!transparent) {
        transparent = true;
        $('nav[role="navigation"]').addClass('navbar-transparent').removeClass('navbar-small');
        $('#issueButton').addClass('btn-neutral').removeClass('btn-info');
      }
    }

    if ($(this).scrollTop() > header_height) {
      if (!floating) {
        floating = true;
        fixed_section.addClass('float');
      }
    } else {
      if (floating) {
        floating = false;
        fixed_section.removeClass('float');
      }
    }
  }, 4);

</script>

<!-- If you are using TypeKit.com uncomment this code otherwise you can delete it -->
<!--
    <script src="https://use.typekit.net/[your kit code here].js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    -->

<!-- If you have retina @2x images on your server which can be sent to iPhone/iPad/MacRetina, please uncomment the next line, otherwise you can delete it -->
<!-- <script src="assets/js/retina.min.js"></script> -->


</html>