/*
전체를 다루는 코드
.vstyle.video-js{
  color:#00ff00;
}
*/

/*
이런 식으로 각각의 element에 대해
색상 등의 스타일을 적용할 수 있다.
*/
.vstyle .vjs-big-play-button,
.vstyle .vjs-volume-level,
.vstyle .vjs-play-progress,
.vstyle .vjs-slider-bar{
  background:rgb(135,180,23) 
  /* 성대 색 ..? ㅎ... */
}

body{
  margin-left : 0;
  margin-top : 10;
}



.main_container
{
  display:inline-block;
}




/* LEFT CONTAINER (플레이어 부분) */



.left_container
{
  width: 70vw;
  height: 100vh;
  float:left;

}

  #player_header
  {
    display:inline-block;
    width:100%;
    height:5%;
    background-color: rgb(244,244,244);
    border : 1px rgb(135,180,23) solid;
    background:rgb(135,180,23) ;
  }


      .player_header_title
      {
        width:50%;
        margin-left : 30;
        margin-top : 14;
        float:left;
        color : white;
        font-size: 1.2em;
      }
      .extend_tab_button
      {
         margin-top : 16;
         margin-right : 16;
         width:10%;
         float:right;
      }

  #sample-video
  {
    border : 1px rgb(135,180,23) solid;

    width:100%;
    height:95%;
  }















/* RIGHT CONTAINER (확장탭 부분( */




.right_container
{
  /*display:none;*/ 
  /*   
      처음 실행 했을 때에는 오른쪽 컨테이너가 보이면 안됨
      버튼 눌렀을 시에 오른쪽 컨테이너 출몰 하는 형식으로..?
  */

  display:none;
  background-color:lightgray;
  border : 2px solid gray;
  width:27vw;
  height: 100vh;
  float :right;

}

