.office_hour {
  width: 97%;
  height: 25%;
  border: 1px solid #000;
  background-color: #fff;
  margin: 5px;
  font-family: JejuGothicOTF;
}

#office_title {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  font-family: JejuGothicOTF;
}

.office_hour {
  text-align: center;
}

#office_day,
#office_start_hour,
#office_end_hour {
  margin: 0 1%;
  width: 15%;
  font-family: JejuGothicOTF;
}

.chat_comment {
  width: 97%;
  height: 69%;
  border: 1px solid #000;
  background-color: #fff;
  margin: 5px;
  font-family: JejuGothicOTF;
}

#chat_title {
  text-align: center;
  width: 100%;
  height: 10%;
  /* background-color: #444; */
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0;
  font-family: JejuGothicOTF;
}
#chat_middle_container {
  width: 100%;
  height: 77%;
  /* background-color: #555; */
  overflow-y: scroll;
}

.prequestion_container {
  padding: 3px;
  margin: 0 auto;
  border: 1px solid #000;
  width: 95%;
  font-family: JejuGothicOTF;
}
#preq_writer {
  font-size: 16px;
  font-weight: bold;
}
#pre_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#preq_text {
  word-break: break-all;
}

.preq_del_btn {
  margin-top: -5px;
  font-size: 16px;
  font-weight: bold;
}

.preq_del_btn:hover,
.preq_del_btn:focus {
  cursor: pointer;
  color: red;
}

#chat_submit {
  padding-top: 10%;
  width: 100%;
  height: 13%;
  /* background-color: #666; */
}

#chat_comment {
  width: 80%;
}
#chat_comment_btn {
  border: 2px solid rgb(135, 180, 23);
  color: #fff;
  background-color: rgb(135, 180, 23);
  width: 20%;
}
